.materials-tab-text {
    font-size: 0.9rem;
    padding-left: 0.5rem;
}

.navbar-brand {
    padding: 0;
}

a {
    text-decoration: unset !important;
}

#sidebar {
    position: fixed !important;
    min-width: 250px;
    max-width: 250px;   
}

.myLabel {
    position: absolute;
    left: 73%;
    padding: 4px 15px;
    border-radius: 4px;
}

.material-name {
    font-size: 0.85rem;
}

.materials-header {
    padding: 0.75rem 0.80rem;
}

.card-image {
    height: 11rem;
}

.card-img-top {
    height: auto;
}

.batch:hover {
    background: rgb(85, 81, 81, 0.2);
}

.card {
    border: none;
}

.small {
    font-size: 92%;
}